doctype html
html(lang="en")
    head
        title Error: 520
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='UTF-8')
        link(rel='stylesheet' href='styles/form.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One')

    body
        header
            h1 User Could Not Be Added
        main
            section
                h3 Sorry the user you were trying to add failed
                p Error: #{error}
        footer



